<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/img/wavestorms-logo.png" | relative_url }}" alt="Logo" style="height: 40px; vertical-align: middle;">
    </a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path fill="#424242"
              d="M1,1h16c0.6,0,1,0.4,1,1s-0.4,1-1,1H1C0.4,3,0,2.6,0,2S0.4,1,1,1z M1,7h16c0.6,0,1,0.4,1,1
              s-0.4,1-1,1H1C0.4,9,0,8.6,0,8S0.4,7,1,7z M1,13h16c0.6,0,1,0.4,1,1s-0.4,1-1,1H1c-0.6,0-1-0.4-1-1S0.4,13,1,13z" />
          </svg>
        </span>
      </label>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.nav == true %}
            <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>

